* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* الفيديو في الخلفية */
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(55%);
}

/* الجسم */
body {
    color: #fff;
    overflow: hidden;
}

/* البوكس */
.box {
    display: flex;
    justify-content: flex-end; /* يخلي الصندوق على اليمين */
    align-items: center;
    min-height: 100vh;
    padding-right: 8%; /* مسافة من الطرف الأيمن */
}

/* الصندوق */
.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: rgba(0, 0, 0, 0.45); /* شفافية أكثر */
    border-radius: 20px;
    backdrop-filter: blur(10px); /* يعطي نعومة زجاجية */
}

span {
    color: #fff;
    font-size: small;
    display: flex;
    justify-content: center;
    padding: 10px 0 5px 0;
}

header {
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    position: relative;
}

.input-field .input {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    background: rgba(255, 255, 255, 0.1);
}

i {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #fff;
    font-size: 18px;
}

::-webkit-input-placeholder {
    color: #fff;
}

.submit {
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 40px;
    outline: none;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover {
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.bottom {
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}

label a {
    color: #fff;
    text-decoration: none;
}
