/* شريط التنقل */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgba(0, 0, 0, 0.4); /* خلفية شفافة */
  backdrop-filter: blur(6px);
  z-index: 10;
}

/* اللوقو */
.navbar .logo {
  height: 80px;
}

/* روابط التنقل */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

/* الروابط داخل القائمة */
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  transition: color 0.3s ease;
}

/* تأثير الهوفر */
.nav-links li a:hover {
  color: #f7e57e;
}
