/* ================= Navbar (الأصلي) ================= */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #f5e1c356;
  z-index: 10;
}

.navbar .logo {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ba7d37;
}

/* أيقونة السلة */
.cart-icon {
  font-size: 28px;
  color: #e7d56d;
  cursor: pointer;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.cart-icon:hover {
  transform: scale(1.2);
  text-shadow: 0 0 10px #FFD700;
}

/* زر تسجيل الدخول */
#login-btn {
  background-color: #f5e1c356;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

#login-btn:hover {
  background-color:#f5e1c356;
}

/* أيقونة المستخدم */
.user-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #00b3ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

/* القائمة المنسدلة */
.user-menu {
  display: none;
  position: absolute;
  top: 55px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  width: 180px;
  text-align: right;
  overflow: hidden;
  z-index: 100;
}

.user-menu.active {
  display: block;
}

.user-menu li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.user-menu li:hover {
  background: #f3f3f3;
}
